<%= form_for(@regress) do |f| %>
  <% if @regress.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@regress.errors.count, "error") %> prohibited this regress from being saved:</h2>

      <ul>
      <% @regress.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :propensity %><br />
    <%= f.number_field :propensity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
